@import "../../../variables.scss";

.body {
	width: 80%;
	height: 94%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: auto;

    .body-header {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
    }
};