
// Colors

$primary-color-background: #232425;
$primary-color-text: #ffffff;

// Fonts

$font-size-extra-small: 8px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-extra-large: 24px;
$font-size-huge: 32px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// Spacing

$spacing-extra-small: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-medium-large: 24px;
$spacing-large: 32px;
$spacing-extra-large: 48px;

// Borders

$border-radius-extra-small: 2px;
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-medium-large: 12px;
$border-radius-large: 16px;
$border-radius-extra-large: 24px;

$border-dark: 2px solid $primary-color-background;

// Shadows

$shadow-small: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-medium: 0px 8px 8px rgba(0, 0, 0, 0.25);
$shadow-large: 0px 16px 16px rgba(0, 0, 0, 0.25);
