@import "../../../variables.scss";

.header {
	width: 100%;
	height: 6vh;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: $border-light;
	box-shadow: $shadow-small;

	h1 {
		margin: $spacing-medium 0 $spacing-medium $spacing-huge ;
	};

	.text {
		margin-right: 81px;
		font-size: $font-size-medium;
	};

	.language-selector {
		margin: $spacing-medium $spacing-huge $spacing-medium 0;
	};
};