@import "../../../variables.scss";

.issues-popup {
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
    padding: $spacing-large;
    background-color: $secondary-color-blue-active;
    border: $border-light;
    border-radius: $border-radius-medium;

    .header-popup {
        display: inline-flex;
        justify-content: space-between;

        .title {
            margin: 0;
        };
    }
}